@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #2f303a;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 125%;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin: 20px;
}

.main-nav ul,
.footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a,
.footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 15px;
}

.main-nav a:hover,
.footer-nav a:hover {
  color: #adadad;
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header {
  height: 140px;
}

.main-footer {
  height: 70px;
  background-color: #202027;
  font-weight: bold;
}

.social-link img {
  width: 16px;
  margin-right: 5px;
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 250%;
  margin-bottom: 16px;
  margin-top: 0;
}
.subtitle {
  font-weight: 500;
  font-size: 100;
  margin-bottom: 30px;
}
.btn {
  color: white;
  background-color: #1762a7;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 70%;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180db;
}
.btn:focus {
  background-color: #2796ff;
}
